{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="background">
    <div class="title">
        <h1>Freelance project Youtube To Mp3/4</h1>
    </div>

    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Download" class="btn">
        </form>
    </div>
</div>

{% if title %}
<div class="dbox">
    <div class="img-thumb">
        <img class="img-card" src="{{ thumb }}">
    </div>
    <div id="details" class="v-about">
        <p class="title">{{ title }}</p>
        <section class="infos">

            <li>Duration :<b>{{ duration }}</b></li>
            <li>Views :<b>{{ views }}</b></li>
            <li>Likes :<b>{{ likes }}</b></li>

        </section>
    </div>
</div>


<div class="downloads">
    <h1 class="typehead"> Download | Mp4 / Mp3 </h1>
    <center>
        <table width="100%">
            <tr>
                <th scope="col">Resolution</th>
                <th scope="col">File Size</th>
                <th scope="col">Extension</th>
                <th scope="col">Download</th>
            </tr>
            <tr>
                {% for stream in streams %}
            <tr>
                <td>{{ stream.resolution }}</td>
                <td>{{ stream.file_size }}</td>
                <td>{{ stream.extension }}</td>
                <td><a href="{{ stream.video_url }}" style="text-decoration: none;"
                        download="{{ title }}.{{ extension }}" target="_blank">Download <i
                            class=" fa fa-download"></i></a></td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    </center>


    <!-- <p class="h3 text-center mt-5 mb-5">Audio Only</p>
    <table class="table mt-5 mb-5">
        <thead class="thead-light">
            <tr>
                <th scope="col">File Size</th>
                <th scope="col">Extension</th>
                <th scope="col">Download</th>
            </tr>
        </thead>
        <tbody>
            {% for stream in stream_audio %}
            <tr>
                <td>{{ stream.file_size }}</td>
                <td>{{ stream.extension }}</td>
                <td><a href="{{ stream.video_url }}" style="text-decoration: none;"
                        download="{{ title }}.{{ extension }}" target="_blank">Download <i
                            class=" fa fa-download"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {##}
    {# <p class="h3 text-center mt-5 mb-5">Video Only</p>#}
    {# <table class="table mt-5">#}
        {# <thead class="thead-light">#}
            {# <tr>#}
                {# <th scope="col">Resolution</th>#}
                {# <th scope="col">File Size</th>#}
                {# <th scope="col">Extension</th>#}
                {# <th scope="col">Download</th>#}
                {# </tr>#}
            {# </thead>#}
        {# <tbody>#}
            {# {% for stream in stream_video %}#}
            {# <tr>#}
                {# <td>{{ stream.resolution }}</td>#}
                {# <td>{{ stream.file_size }}</td>#}
                {# <td>{{ stream.extension }}</td>#}
                {# <td><a href="{{ stream.video_url }}" style="text-decoration: none;" #} {#
                        download="{{ title }}.{{ extension }}" target="_blank">Download <i#} {# class=" fa fa-download">
                            </i></a></td>#}
                {# </tr>#}
            {# {% endfor %}#}
            {# </tbody>#}
        {# </table>#}
    {##} -->
</div>


{% endif %}


{% endblock %}